<h1>All Books</h1>

<% @books.each do |book| %>
    <div style="padding-bottom:8px;">
        <%= h link_to book.title, book_slug_url(book, book.slug) %> by <%= h book.author %> (<%= book.posts.size %> highlights
        <% if book.posts.size > 0 %>
        , latest <%= time_ago_in_words(book.posts.last.created_at) %> ago)
        <% else %>
        )
        <% end %>
    </div>
    <% if @current_user %>
        <div class="admin_options">
            <%= link_to 'Edit', edit_book_path(book) %>&nbsp;-&nbsp;<%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %>
        </div>
    <% end %>
<% end %>

<% if @current_user %>
    <%= link_to 'New Book', new_book_path %>
<% end %>