<div>
  <span id="book-title"><a href="<%= @book.amazon_url %>"><%= @book.title %></a></span>
  <p>by <%= @book.author %></p>
</div>

<% if @current_user %>
  <%= link_to 'Edit', edit_book_path(@book) %>&nbsp;-&nbsp;<%= link_to 'Back', books_path %>
<% end %>

<div id="book-posts">
  <% @book.posts.each do |p| %>
    <%= render p %>
  <% end %>
</div>