<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Amazon asin:</b>
  <%= @book.amazon_asin %>
</p>

<p>
  <b>Status:</b>
  <%= @book.status %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @book.thumbnail %>
</p>

<p>
  <b>User:</b>
  <%= @book.user_id %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
